#myForm {
    display: inline-block;
    text-align: right;
}

#submitForm {
    display: flex;
    justify-content: center
}

#newProjectDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newProjectForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#wholeShebang {
    display: flex;
    flex-direction: row;
}

#taskContent {
    height: 21px;
}

#content {
    display: flex;
    flex-direction: column
}

[id^=contentDiv] {
    display: flex;
    flex-direction: column
}

[id^=leftSide] {
    display: flex;
    flex-direction: row;
}

#projectsBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}