html, body{
    height: 100%
}

#myForm {
    display: inline-block;
    text-align: right;
    background-color: #7395AE;
    width: 277.5px;
    height: 100%
}

#submitForm {
    display: flex;
    justify-content: right
}

#newProjectDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newProjectForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#wholeShebang {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#taskContent {
    height: 21px;
}

#content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

[id^=leftSide] {
    display: flex;
    flex-direction: row;
}

#projectsBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

[id^=projectDetailsText]{
    display: flex;
    justify-content: left;
}

[id^=projectName]{
    display: flex;
    flex-direction: column;
   
}

[id^=projectInfo]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px rgb(59, 59, 59) solid;
}

[id^=projectInfo] > button{
    width: 54px;
    max-height: 19px;
    justify-self: center;
    align-self: center;
}

[id^=leftSide] > button{
    width: 54px;
    max-height: 19px;
    justify-self: center;
    align-self: center;
}

#projectsList{
    display: flex;
    flex-direction: column;
    width: 277.5px;
}

[id^=editProjectForm] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body {
    background-color: skyblue;
    margin: 0px
}

button {
    background-color: rgb(71, 71, 255);
    border: 0;
    border-radius: 5px;
}

#newProjectBtn{
    width: 92.5px;
}

#confirmBtn{
    width: 92.5px
}

[id^=projectNameTitle]{
    width: 75px;
    overflow-wrap: break-word;
}

[id^=addTaskButton]{
    width: 67px
}

[id^=taskContent]{
    width: 100px;
    overflow-wrap: break-word;
}

[id^=leftSide]{
    display: flex;
    justify-content: space-between;
    width: 300px;
}


[id^=contentDiv] {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    align-content: space-between;
}