#myForm {
    display: inline-block;
    text-align: right;
}

#submitForm {
    display: flex;
    justify-content: center
}

#wholeShebang {
    display: flex;
    flex-direction: row;

}

#details {
    display: flex;
    flex-direction: column;
}

#taskContent {
    height: 21px;
}